<div class="container">
  <div class="top-bar">
    <!-- more -->
    <button class="top-bar__more">
      <img
        src="./assets/icons/more.svg"
        alt=""
        class="top-bar__more-icon icon"
      />
    </button>
    <!-- logo -->
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>
    <!-- navbar -->
    <nav class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li>
          <a href="#!" class="navbar__link">
            Departments
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
            />
          </a>
          <!-- dropdown menu -->
          <div class="drop-down">
            <div class="drop-down__inner">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              sunt qui pariatur maiores aliquam eos sed possimus officiis non,
              autem sit quia sint voluptatum? Perferendis, quam voluptatibus.
              Laboriosam sunt possimus voluptas rem maiores, adipisci quasi
              quae. Dolores animi explicabo, ducimus id magnam suscipit commodi
              non dolore beatae blanditiis, ipsum, eveniet officia quidem.
              Dolore, dolorem aliquam ea vero aut suscipit culpa, itaque
              voluptate ex ratione quo consequatur? Magnam nisi incidunt porro
              molestias magni quibusdam blanditiis consequatur nostrum ipsa sed,
              et facilis sapiente! Dolores ab est placeat possimus similique,
              nihil sed impedit accusamus magnam ea molestiae magni libero
              distinctio ipsum, eligendi assumenda!
            </div>
          </div>
        </li>
        <li>
          <a href="#!" class="navbar__link">
            Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
            />
          </a>

          <!-- dropdown menu -->
          <div class="drop-down">
            <div class="drop-down__inner">
              Lorem 2 ipsum dolor sit amet consectetur adipisicing elit. Tempore
              sunt qui pariatur maiores aliquam eos sed possimus officiis non,
              autem sit quia sint voluptatum? Perferendis, quam voluptatibus.
              Laboriosam sunt possimus voluptas rem maiores, adipisci quasi
              quae. Dolores animi explicabo, ducimus id magnam suscipit commodi
              non dolore beatae blanditiis, ipsum, eveniet officia quidem.
              Dolore, dolorem aliquam ea vero aut suscipit culpa, itaque
              voluptate ex ratione quo consequatur? Magnam nisi incidunt porro
              molestias magni quibusdam blanditiis consequatur nostrum ipsa sed,
              et facilis sapiente! Dolores ab est placeat possimus similique,
              nihil sed impedit accusamus magnam ea molestiae magni libero
              distinctio ipsum, eligendi assumenda!
            </div>
          </div>
        </li>
        <li>
          <a href="#!" class="navbar__link">
            Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
            />
          </a>

          <!-- dropdown menu -->
          <div class="drop-down">
            <div class="drop-down__inner">
              Lorem 3 ipsum dolor sit amet consectetur adipisicing elit. Tempore
              sunt qui pariatur maiores aliquam eos sed possimus officiis non,
              autem sit quia sint voluptatum? Perferendis, quam voluptatibus.
              Laboriosam sunt possimus voluptas rem maiores, adipisci quasi
              quae. Dolores animi explicabo, ducimus id magnam suscipit commodi
              non dolore beatae blanditiis, ipsum, eveniet officia quidem.
              Dolore, dolorem aliquam ea vero aut suscipit culpa, itaque
              voluptate ex ratione quo consequatur? Magnam nisi incidunt porro
              molestias magni quibusdam blanditiis consequatur nostrum ipsa sed,
              et facilis sapiente! Dolores ab est placeat possimus similique,
              nihil sed impedit accusamus magnam ea molestiae magni libero
              distinctio ipsum, eligendi assumenda!
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <!-- action -->
    <div class="top-action">
      <div class="top-action__group top-action__group--single">
        <button class="top-action__btn">
          <img
            src="./assets/icons/search.svg"
            alt="icon-search"
            class="top-action__icon icon"
          />
        </button>
      </div>

      <div class="top-action__group">
        <button class="top-action__btn">
          <img
            src="./assets/icons/heart.svg"
            alt="icon-heart"
            class="top-action__icon icon"
          />
          <span class="top-action__title">03</span>
        </button>

        <div class="top-action__seperate"></div>

        <button class="top-action__btn">
          <img
            src="./assets/icons/buy.svg"
            alt="icon-buy"
            class="top-action__icon icon"
          />
          <span class="top-action__title">$65.42</span>
        </button>
      </div>

      <div class="top-action__user">
        <img
          src="./assets/img/user-avatar.jpg"
          alt="user-avatar"
          class="top-action__avatar"
        />
      </div>
    </div>
  </div>
</div>
